#include <winver.h>

1 ICON "AirGlass.ico"
1 24 "AirGlass.manifest"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "CompanyName", "AirGlass"
      VALUE "FileDescription", "AirGlass - AirPlay screen mirroring receiver"
      VALUE "FileVersion", "1.0.0"
      VALUE "InternalName", "AirGlass"
      VALUE "OriginalFilename", "AirGlass.exe"
      VALUE "ProductName", "AirGlass"
      VALUE "ProductVersion", "1.0.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1200
  END
END
